<% unless !comment.persisted? %>
<div class='card' >
  <div class='card-body'>
    <%= comment.message %>
    </div>
    <div class="card-footer text-end">
    <small class="text-muted"><%= link_to User.find(comment.user_id).username, user_path(comment.user)%></small>
</div>
</div>
<% end %>