<%= form_for Tweet.new do |form| %>
  <div class="card my-5">
    <div card-body>
      <div class="form-group"><%= form.text_area :message, class: "form-control", placeholder: "What's happening" %></div>
        <%= form.submit "Tweet", class: "btn btn-primary " %>
    </div>
  </div>
<% end %>
