<h1>Tweets</h1>
<ul>
  <% @tweets.reverse.each do |tweet| %>
    <li>
        <%= tweet.message %></br>
        Tweeted on: <%= tweet.created_at.strftime("%B %d %Y, %l:%M%P") %>
    </li>
  <% end %>
</ul>