
<ul>
  <% @tweets.reverse.each do |tweet| %>
    <li>
        <%= tweet.message %></br>
        <%= link_to tweet.message, tweet %>
        Tweeted on: <%= tweet.created_at.strftime("%B %d %Y, %l:%M%P") %>
    </li>
  <% end %>
</ul>

