<div class="jumbotron">
<div class="container">
  <h1>Welcome to Chitter, a twitter-clone built by Blessing! </h1>
  <p>Register to enjoy all the fun!</p>
  <p>
    <%= link_to new_user_registration_path, class: 'btn btn-primary btn-lg' do %>
      Register &raquo;
    <% end %>
  </p>
</div>